
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins',sans-serif ;
   
  
}

a{
    color: rgba(0, 0, 0, 0.837);
    text-decoration: none;
   
}

h1{
    font-size: clamp(1.6rem , 1.2vw + .5rem , 2rem);
    text-align: center;
}

#header img{
    width: 50%;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: sticky;
    top:0;
    background-color: white;
}



@media screen and (min-width:600px){
    #header{
       justify-content: space-between;
       flex-direction: row;
    }
}

.nav-link{
    display: block;
    text-align: center;
}

@media screen and (min-width:600px){
    .nav-link{
        display: inline-block;
        padding-right: .5rem;
    }
}
 form{
    display: flex;
    flex-direction: column;
   align-items: center;
    gap:1rem;
 }

.input-email , .btn{
    border-radius: 5px;
    outline: none;
    border: none;
    padding: .7rem 1rem;
  
}
.input-email{
    background-color: rgba(193, 193, 193, 0.267);
    display: block;
    font-size: .9rem;
    font-family: Poppins;
}

.btn{
   background: yellow;
   text-align: center;
   font-weight: bold;
   width: fit-content;
   text-transform: uppercase;
   
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
}

i{
    color:orange;
    font-size: 3rem;
 
}

.feature-img{
    display: none;
}

@media screen and (min-width:600px){
    .feature-img{
        display: block;
    }
}

.feature-container{
    display: flex;
    gap: 2rem;
    margin-bottom: 1.3rem;
    padding-inline: 1.3rem;
}

.feature-title{
    color: rgba(0, 0, 0, 0.86);
    font-size: 1.2rem;
}

.pricing{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-inline: 1rem;
    margin-top: 3rem;
   justify-content: center;
}

@media screen and (min-width:700px){
    .pricing{
        flex-direction: row;
    }
}

.pricing-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 18rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   border-radius: 10px;
   text-align: center;
   padding: 2rem 1rem;
}

.pricing-rate{
    color: rgba(203, 63, 63, 0.84);
    font-size: 2rem;
    font-weight: bold;
}

.pricing-info{
    color:gray;
}

.footer{
    background: rgba(128, 128, 128, 0.165);
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    margin-top: 5rem;
}

.footer-item{
    display: inline-block;
    padding-right: .8rem;
}

.footer-copyright{
    color: gray;
}

#video{
    width:100%;
    padding-inline: 2rem;
}